.container {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 20px;
    user-select: none;
}

.selectionItemContainer {
    position: relative;
    flex: 50%;
    box-sizing: border-box;
}

.selectionItem {
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 16px;
    padding: 15px 20px;
    box-sizing: border-box;
}

.selectionItem,
.profile {
    transition: background-color 0.2s ease-in-out;
}

.selectionItem:hover,
.profile:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.selectionItem.selected {
    background-color: rgba(0, 168, 255, 0.75);
    color: #fff;
}

.profiles {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 20px 20px 0 20px;
    margin-top: 25px;
    user-select: none;
}

.profileContainer {
    position: relative;
    flex: 50% 0;
    box-sizing: border-box;
}

.profile {
    position: relative;
    display: flex;
    width: 90%;
    height: 60px;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    cursor: pointer;
    padding: 10px 15px;
    box-sizing: border-box;
}

.profile .icon {
    position: relative;
    flex: 15%;
    font-size: 30px;
}

.profile .icon .iconImage {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.profile .name {
    flex: 85%;
    position: relative;
    margin-left: 5px;
}

@media screen and (max-device-width: 800px), (max-width: 800px) {
    .selectionItemContainer,
    .profileContainer {
        flex: 100%;
    }

    .selectionItemContainer:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media screen and (max-device-width: 1200px), (max-width: 1200px) {
    .container {
        width: 90%;
    }
}
